<!DOCTYPE html>
<html>
	<head>
		<title>Web-app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="{{ url_for('static', filename='scripts/charts.js') }}"></script>

	</head>
	<body>
		<div id="container">
            <div id="chart-container">
                <div id="temperature-chart"></div>
                <div id="light-chart"></div>
                <div id="humidity-chart"></div>
            </div>
        </div>
        <script>
            start({{ data | safe }});
        </script>
	</body>
</html>